* { box-sizing: border-box; }

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.8;
}

body {
    font-size: 1rem;
    color: #000;
}

h1 {
    text-align: right;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0.2rem solid #000;
}

h2 {
    margin-top: 4rem;
    font-size: 1.5rem;
}

section {
    background: #F5F5F5;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #AAA;
}


/* nav */

nav {
    margin: 5rem 0;
}

nav ul {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0 0 0 1rem;
}

nav a {
    text-decoration: none;
}


/* code */

:not(pre) > code {
    white-space: nowrap;
    background-color: #0001;
    padding: 0.2rem 0.6rem;
}

pre {
    color: #DCDCCC;
    background-color: #3F3F3F;
    padding: 1rem;
    overflow-x: auto;
}

.kuljet .kw { color: #F0DFAF; font-weight: bold; }
.kuljet .st { color: #CC9393; }
.kuljet .va { color: #DFAF8F; }


/* tables */

table {
    overflow-x: auto;
    width: max-content;
    display: block;
    max-width: 100%;
    border-color: grey;
    border-spacing: 0;
    border-collapse: collapse;
}

table tr:nth-child(2n) {
    background-color: #EEE;
}

table td, table th {
    padding: 6px 13px;
    border: 1px solid #DDD;
}


/* responsive */

@media (max-width: 60rem) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        text-align: left;
    }
}

@media (min-width: 60rem) {
    body {
        max-width: 80rem;
        margin: 0 auto;
        display: flex;
    }
    main {
        flex-shrink: 1;
        min-width: 30rem;
        max-width: 50rem;
    }
    nav {
        flex-shrink: 0;
        padding-right: 4rem;
    }
}
